
# Carpetas de compilación
bin/
obj/
.vs/

# Otros temporales
*.cache
*.db
*.vsidx
*.pdb
*.exe
*.dll
*.resources

# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs y editores
.vscode/
.idea/

# Paquetes
*.nupkg
*.nuspec
packages/

